<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/submit" method="POST">
  <label for="apikey">APIkey:</label><br>
  <input type="text" id="apikey" name="apikey"><br><br>
  
  <label for="device_id">Device Developer ID:</label><br>
  <input type="text" id="device_id" name="device_id"><br><br>
  
  <label for="datetime">Select Date and Time:</label><br>
  <input type="datetime-local" id="datetime" name="datetime"><br><br>
  
  <input type="submit" value="Submit">
</form>

</body>
</html>
